---
title: Welcome to Madeline
---

.container
.jumbotron
	%h1 Madeline
	%p
	%a{:href => "#"} ABOUT
	%a{:href => "#"} WORK
	%a{:href => "#"} CONTACT

.container
	%img{:src => "/images/me.png"}


.container
	%h2 Articulate & Curious
	%p 	Something happened while I was in art school. I think it must have been the hours and days spent observing objects in their environment, how light bends around their surfaces, and how nuanced and ambiguous re-representing these objects with a pencil and paper became with the added dimension of me and my relationship to everything. Nothing was neutral.

	%p 	The idea behind the non-neutrality of objects paved the way to viewing everything through such a lense. I began thinking about the relationships between 
	%a{:href => "#"} people and designed objects and systems. 
	I began thinking about how these designs elicit specific human experiences and emotions.

	%p
	%a{:href => "#"} VSCO
	%a{:href => "#"} TWITTER
	%a{:href => "#"} BLOG

