---
title: Manifesto
---

.container
	%h2 The best Part About New York Is Leaving

	%p
	%br 
	On the platform I thought "the best part about New York is leaving--"
	%br
	the subway interjected.
	%br
	The uneven, composite buzz coursing through the system stabilized,
	%br
	picked up pitch,
	%br
	a train arrived from the nowhere between stations, on time and offended.
	%br
	In the crowded train, I concerned myself with the act of mutual
	%br
	balance that is, more or less, subway etiquette
	%br
	and thought again "the best part about New York is leaving--and coming
	%br
	right back."

	%p
	%br
	I don’t know how many rides like this it took.
	%br
	I strained my eyes to look through the mass of people.
	%br
	I was unable to catch which stop we were passing.
	%br
	I don't know how many hours in the guts of a bus, how many pounds of
	%br
	MetroCards it took.
	%br
	I don't know how many minutes spent venerating the rivers through
	%br
	fog-tainted windows at a good clip,
	%br
	or in street in the company of every other creature seeking solitude,
	%br
	it took for me to realize it but it happened.

	%p
	%br
	From where I was installed in the car, I could not determine where we
	%br
	were, but I was able to speculate as to who we were.
	%br
	Young couples, older ones, families with small children, workers, and students.
	%br
	We need to get from point A to point B-- a lucky few are pinched up
	%br
	next to the line map.
	%br
	They run fingers over it, trace real contours in two-dimensions.
	%br
	They take care not to stray from the line they are on or the ones they
	%br
	are after.
	%br
	They are afraid that if they err, the lines on the map will cease to
	%br
	refer to the places they need to go and all will be lost.
	%br
	Bensonhurst will no longer be the place where Aunt Celia lives, it
	%br
	will be a white dot only and how will I get home?
	%br
	Some seem comforted by this though, some aggravated, some look
	%br
	confused.

	%p
	%br
	At the Dia:Beacon I was thinking about each line.
	%br
	I was thinking about each delicate, individual, regimented LeWitt line.
	%br
	I was saddened with an unsolicited thought:
	%br
	I could never know each and every detail.
	%br
	The further I obsessed, the more I perceived,
	%br
	the further he receded.
	%br
	I observed each work in its entirety, and subsequently stepped as
	%br
	close as possible to
	%br
	elucidate in an almost painstaking manner what was visible. Sol LeWitt
	%br
	captivated me. Sol
	%br
	LeWitt puzzled me.

	%p
	%br
	The car was becoming more and more dense with bodies.
	%br
	It didn’t matter if I could see the signs to each station we passed or not.
	%br
	I knew my stop, I had been there too many times to keep count.
	%br
	(more)
	%br
	This notion warranted more time to reflect on all my travels:
	%br
	I surrendered to the trains, to the distance in the system.

	%p
	%br
	So much of LeWitt’s work is what is left uncovered, uncharted.
	%br
	There are boundaries which he has sketched and there is what falls between.
	%br
	The map indicates the place where the train will slow down to ape the
	%br
	curve in the river,
	%br
	it does not show the parts at the bend and the lives that are confined there.
	%br
	I could stand in front of one of his massive wall pieces for a
	%br
	lifetime, faintly following each path and
	%br
	still be an alien among the majority of lines and strokes of the
	%br
	pencil. No matter how solid my
	%br
	interpretations were, how much research on the artist I did, or time
	%br
	spent gazing in amazement,
	%br
	intimacy with each profound mark was unattainable.

	%p
	%br
	The car crept to a halt as I recalled memories of dragging my finger
	%br
	along various routes
	%br
	on the map some many months before, familiarizing myself with the new
	%br
	system of commuting.
	%br
	A sense of reassurance came over me with the sudden beauty that the
	%br
	metro system begets
	%br
	through its vastness.

	%p
	%br
	In a crowded subway back to Brooklyn,
	%br
	I had not a care in the world.
	%br
	In the very same moment, I concluded that the greatest quality
	%br
	to LeWitt’s work must be the wonder it
	%br
	sustains at every scale and dimension. The complexity of the smallest
	%br
	portion rivals that of the whole.

	%p
	%br
	It doesn’t take much speculation to understand a giant grid filled
	%br
	with enumerated intricacies.
	%br
	It takes a round trip.


