
.container
	%h2 WIP: Works In Progress
	%p WIP is an easy way to capture the evolution and therefore thought processes and problem solving that went into creating a final product. Once documented, work can be shared within the community of creatives on WIP, allowing for the exchange of constructive criticism and feedback.

.container
	%img{:src => "/images/wip1.png"}

.container
	%h2 Understand
	%p The problem, value proposition, goals

.container
	%p The customer, user personas

.container
	%h2 Diverge 
	%p "How might we..." and iterative skecthing

.container
	%p How might we empower artists and designers to document the process of their work through to completion?
	%p How might we utilize a mobile and desktop application for artists and designers to share and track their work in progress?

